.trackList ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.trackList li {
  padding: 0.5rem 0;
  background: #fafafa;
  margin: 0.25rem 0;
  border-radius: 2px;
}

.trackList a {
  color: #2a2a2a;
  text-decoration: none;
}
